body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    padding: 40px;
    background-color: #F5F5F5;
    color: #1A1A1A;
    text-align: center;
}

button {
    padding: 14px;
    font-size: 16px;
}

h1 {
    color: #1A1A1A;
}

.intro {
    font-size: 18px;
}

.buttons {
    margin: 20px;
}

button {
    padding: 12px;
    margin: 8px;
    border: none;
    border-radius: 8px;
    background-color:#70a1bd;
    color: rgb(0, 5, 7);
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

.box {
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.dark {
    background-color: #111;
    color: white;
}

button:hover {
    background-color: #2980b9;
}

.box {
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.dark {
    background-color: #111;
    color: white;
}
