body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    padding: 40px;
    background-color: #ededed;
    color: #69adc2;
    text-align: center;
}

button {
    padding: 14px;
    font-size: 16px;
}

h1 {
    color: #2d5854;
}

.intro {
    font-size: 18px;
}

.buttons {
    margin: 20px;
}

button {
    padding: 12px;
    margin: 8px;
    border: none;
    border-radius: 8px;
    background-color:#488c98;
    color: rgb(0, 5, 7);
    cursor: pointer; 
}

button:hover {
    background-color: #fffffffa;
}

.box {
    border: 1px solid #000000;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.dark {
    background-color: #111;
    color: white;
}
